body {
  background-color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  line-height: 1.75em;
  font-size: 14px;
}

.con1 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-widget {
  
  background-color: blue;
}

.icon-footter {

  width: auto;
  height: auto;
}

.navbar-pos{
  position: absolute;
  z-index: 600; 
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) ;
  
}

p {
  font-size: 18px;
    color: #999;
    margin-bottom: 70px;
}

ul , li {
  list-style-type: none;

}

.footer-st {
  
  background: #222;
  background-image: url("/img/dotted-map.png");
  background-size: contain;
}


.footer-last{
  background-color: black;
}

.form-st {
  padding-bottom: 100px;
}


.col-icon::before {

  content: "@";
  background-color: #FFBA10;
  border-color: black;
  border-style: solid;
  
}

.Services {
  background-color: #FAFAFA;
}

.ideas {
  padding: 50px 15px ;
}

h2 {
  font-size: 38px;
}